nav {
    margin: 5px;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icon-button {
        margin: 1px;
        background-color: aliceblue;

        .icon-img {
            width: 25px;
            height: 25px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 20px 0;

            a {
                text-decoration: none;
            }
        }
    }
}