<nav>
    <header>
        <div>
            <button class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/linkedin.png"/>
            </button>
            <button class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/github.png"/>
            </button>
            <button class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/twitter.png"/>
            </button>
        </div>
        <button style="background-color: cadetblue;" mat-fab (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <section>
        <ul>
            <li>
                <a href="#">Home</a>
                <mat-divider></mat-divider>
            </li>
            <li>
                <a href="#about">About</a>
                <mat-divider></mat-divider>
            </li>
            <li>
                <a href="#certificates">Certificates</a>
                <mat-divider></mat-divider>
            </li>
            <li>
                <a href="#achievements">Achievements</a>
                <mat-divider></mat-divider>
            </li>
            <li>
                <a href="#works">Works</a>
                <mat-divider></mat-divider>
            </li>
            <li>
                <a 
                    href="#contact" 
                    color="primary" 
                    style="width: 100%;"
                    mat-raised-button>
                    Get in Touch
                </a>
            </li>
        </ul>
    </section>
</nav>