mat-card {
    width: 80%;
    margin: auto;

    mat-card-header {
        justify-content: center;
    }

    mat-card-content {
        mat-form-field {
            width: 100%;
        }
    }

    mat-card-footer {
        mat-card-actions {
            justify-content: center;
        }
    }
}