.container {
    margin: 3px;
    padding: 7px;
    text-align: justify;
    background-color: whitesmoke;
}

.fs-ms {
    font-family: 'Montserrat', sans-serif
}

.content {
    font-family: "Sofia Sans", sans-serif;
    font-size: 20px;
}

img {
    object-fit: contain;
    width: 100px !important;
    height: auto;
}

ul {
    list-style: circle;

    a {
        vertical-align: middle;
    }
}