<div class="container">
    <img src="assets/img/programmer.png" alt="programmer" />
    <div class="content">
        <h2>Looking For Data Scientist?</h2>
        <div>
            <p>
                Hi, I'm Mohamed Rizwan.<br />
                I am Aspiring Data Scientist. If you're looking for Data Scientist as fresher you can get touch with me
                here. I am also full stack developer having knowledge in exciting framework like MEAN and MERN stack
                development.
            </p>
        </div>
    </div>
</div>
<br />
<button style="width: 100%;" color="primary" mat-stroked-button (click)="onScroll()">
    GET IN TOUCH
</button>