<div class="container">
    <div>
        <img src="assets/img/Mohamed Rizwan.jpeg" alt="profile" />
    </div>
    <div>
        <div class="content">
            Hi I'm from Pudukkottai.Iam pursuing MCA at DG Vaishnav College, Chennai and I completed my BCA at
            The New College, Chennai. I'm aspiring data scientist having a good knowledge in machine
            learning models and python libraries.  
        </div>
        <div class="content">
            I would like to share my learning experiences with you. I learned web development and technologies
            when i studying BCA and i did a lot of beginner projects which enhanced my knowledge to get good 
            experiences to work on the projects. Later, when i started my MCA i get to know about the evolving
            technologies like data science so I've started to learn those libraries and tools.
        </div>
    </div>
</div>