<div class="container">
    <div>
        <img src="assets/img/programmer.png" alt="profile" />
    </div>
    <div class="content">
        Hi I'm from chennai.Iam pursuing MCA at DG Vaishnav College in arumbakkam and i completed my BCA at
        The New College (Autonomous) in royapettah. I'm aspiring data scientist having a good knowledge in machine
        learning models which i have builded is included in the project section. So, as a fresher i have good knowledge
        in
        machine learning techniques and web application development.
    </div>
</div>