<nav>
    <header>
        <div>
            <a href="https://www.linkedin.com/in/mohamed2000/" target="_blank" class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/linkedin.png" />
            </a>
            <a href="https://github.com/Mohamedrizwan-gif" target="_blank" class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/github.png" />
            </a>
            <a href="https://twitter.com/MohamedRizwanM4" target="_blank" class="icon-button" mat-mini-fab>
                <img class="icon-img" src="assets/icon/twitter.png" />
            </a>
        </div>
        <button style="background-color: cadetblue;" mat-fab (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <section>
        <ul>
            <a (click)="onScrollpage('head', $event)">
                <li>Home</li>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onScrollpage('about', $event)">
                <li>About</li>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onScrollpage('certificates', $event)">
                <li>Certificates</li>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onScrollpage('achievements', $event)">
                <li>Achievements</li>
            </a>
            <mat-divider></mat-divider>
            <a (click)="onScrollpage('works', $event)">
                <li>Works</li>
            </a>
            <mat-divider></mat-divider>
        </ul>
        <br/>
        <div class="contact">
            <div>
                <a href="tel:+918825801986" mat-stroked-button>Contact Me</a>
            </div>
            <br/>
            <div>
                <a class="git-btn" (click)="onScrollpage('contact', $event)" color="primary" mat-raised-button>
                    Get in Touch
                </a>
            </div>
        </div>
    </section>
</nav>