<mat-sidenav-container class="container">
    <mat-sidenav #sidenav>
        <app-sidenav [sidenav]="sidenav"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <header>
            <app-header [sidenav]="sidenav"></app-header>
        </header>
        <br />
        <section id="about">
            <h1>About</h1>
            <app-about></app-about>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <app-skills></app-skills>
        </section>
        <section id="certificates">
            <h1>Certification</h1>
            <app-certification></app-certification>
        </section>
        <br />
        <section id="achievements">
            <h1>Achievements</h1>
            <app-achievement></app-achievement>
        </section>
        <br/>
        <section id="contact">
            <h1>Contact</h1>
            <app-contact></app-contact>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>