@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1  {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.mat-sidenav {
    width: 35%;
}